@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: rgb(255, 254, 254);
}
button {
  background: rgb(255, 254, 254);
  border: 1px rgb(223, 223, 223) solid;
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
}
button:hover {
  /* background: rgb(223, 223, 223); */
  color: rgb(100, 212, 212);
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 20px 0px;
  line-height: 36px;
}
h3 {
  font-size: 2.25rem;
  font-weight: 400;
}
header {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 600px;
  position: relative;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 60px;
}
.header-left h1 {
  font-size: 3.4rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.header-right {
  background: url(./assets/img/banner.jpg) right/cover;
  /* background-position: right; */
  margin: 0 30px;
  height: 100%;
}
header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(223, 223, 223);
  bottom: 0px;
}
.article-top {
  display: grid;
  grid-template-columns: 35% 65%;
  position: relative;
}
.article-top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(223, 223, 223);
  bottom: 0px;
}
.article-top-left {
  background: url(./assets/img/img-left.jpg) center/cover;
}
.article-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 60px 0 0;
}
.article-bottom {
  display: grid;
  grid-template-columns: 65% 35%;
  /* height: 300px; */
  position: relative;
}
.article-bottom:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(223, 223, 223);
  bottom: 0px;
}
.article-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 60px;
}
.article-bottom-right {
  background: url(./assets/img/img-right.jpg) center/cover;
}
.contact {
  padding-bottom: 30px;
  position: relative;
}
.contact:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(223, 223, 223);
  bottom: 0px;
  left: 10%;
}
.contact h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  font-weight: 300;
}
form {
  font-size: 0.8rem;
  font-weight: 400;
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "name email"
    "name-case email-case"
    "message message"
    "message-case message-case"
    "message-case message-case"
    "valide valide";
}
input {
  border: 1px rgb(223, 223, 223) solid;
}
.name {
  text-align: center;
  padding: 20px;
  grid-area: name;
}
#name {
  margin: 10px;
  grid-area: name-case;
}
.email {
  text-align: center;
  padding: 20px;
  grid-area: email;
}
#email {
  margin: 10px;
  grid-area: email-case;
}
.message {
  text-align: center;
  padding: 20px;
  grid-area: message;
}
#message {
  grid-area: message-case;
  margin-bottom: 20px;
}
.valide {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.6rem;
  background: rgb(255, 254, 254);
  border-radius: 25px;
  padding: 0 20px;
  margin: 0 auto;
  height: 30px;
  grid-area: valide;
}
.valide:hover {
  color: rgb(100, 212, 212);
}
.footer-logos {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}
a {
  border: 1px rgb(223, 223, 223) solid;
  border-radius: 25px;
  padding: 5px 8px;
  width: 34px;
  height: 34px;
  position: relative;
}

i:hover {
  color: rgb(100, 212, 212);
}
a i {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/************ MEDIA QUERYS ***************/

@media screen and (max-width: 750px) {
  form {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
  }
  p {
    line-height: 1.8em;
  }
  .header-left {
    padding: 20px;
    min-height: 300px;
  }
  .header-right {
    min-height: 300px;
    width: 100%;
    margin: 10px 0px;
  }
  header:after {
    display: none;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-top {
    display: block;
  }
  .article-top-left {
    display: none;
  }
  .article-top-right {
    padding: 20px;
  }
  .article-top:after {
    bottom: 0px;
  }
  .article-bottom {
    display: block;
  }
  .article-bottom-right {
    display: none;
  }
  .article-bottom-left {
    height: 100%;
    padding: 20px;
  }
  form {
    width: 100%;
    margin: 0 auto;
  }
  .email,
  .name,
  .message {
    padding: 10px;
  }
  #email,
  #name,
  #message {
    margin: 5px;
  }
  input {
    border-radius: 5px;
    width: 100%;
  }
  .valide {
    width: 40%;
    margin: 0 auto;
  }
  .footer-logos {
    width: 70%;
  }
}
